.window{
    @media screen and ( max-width: 780px ) {
        padding: 20px 32px;
    }
}

.data{
    row-gap: 10px;
    justify-items: center;
}

h1{
    font-weight: 800;
    font-size: 144px;
    line-height: 148px;

    -webkit-text-stroke: 2px var(--text-color--label);
    text-stroke: 2px var(--text-color--label);
    color: #0000 !important;

    @media screen and ( max-width: 780px ) {
        font-size: 82px;    
        line-height: 95px;
        -webkit-text-stroke: 1px var(--text-color--label);
        text-stroke: 1px var(--text-color--label);
    }
}

h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    @media screen and ( max-width: 780px ) {
        font-size: 16px;
        line-height: 20px;
    }
}