<ryodan-wrapper
  *ngVar="applications$ | async as applications"
  [showList]="!!applications?.length"
  [pending]="!!(pending$ | async)"
  (update)="getApplications()"
>
  <button
    header-btn
    class="btn btn--outline-primary"
    (click)="formOpened$.next(true)"
  >
    New application
  </button>

  <ryodan-common-list
    list
    [items]="applications"
    (viewItem)="onViewApplication($event)"
  ></ryodan-common-list>
</ryodan-wrapper>

<ryodan-popup
  *ngIf="viewingApplication"
  [windowTitle]="'Application №' + viewingApplication.number"
  [state]="viewingApplication.state"
  (close)="viewingApplication = null"
>
  <ryodan-application-view
    [application]="viewingApplication"
  ></ryodan-application-view>
</ryodan-popup>

<ryodan-popup
  *ngIf="formOpened$ | async"
  windowTitle="New application"
  (close)="formOpened$.next(false)"
>
  <ryodan-application-form
    (close)="formOpened$.next(false)"
  ></ryodan-application-form>
</ryodan-popup>
