$phone-size: 780px;

:root{
    --primary-color: #5D9BF3; 
    --primary-color--hover: #3885F2;
    
    --text-color--label: #000000;

    --input-color: #000;
    
    
    --err-color: #DB5757;
    --err-color--hover: #E54848;


    --success-color: #53C65E;
    --success-color--hover: #43D952;


    --color--secondary: #BFBFBF;
    --color--secondary-hover: #FFFFFF;

    
    --color--loading-data: #d5d5d5;
}


body, span.hr, referral-gifts li{
    --bg-color: #84A7D9;
}

.window{
    --radius: 18px;
    --bg-color: #FFFFFF;
}


.btn, .score__number{
    --color: #FFFFFF;
    &--success, &--err{
        --color: #FFFFFF;
    }

    &--outline-err:hover, &--outline-primary:hover, &--outline-success:hover{
        --color: #FFFFFF;
    }
}

.form-control, .btn-icon, .drop-down{
    --bg-color: #fff;
    --placeholder: #BFBFBF;
    --radius: 8px;
    --border: #00000060;
}

.btn-icon{
    --bg-color: #fff;
}


nav img{
    --heigth: 60px;
    @media screen and ( max-width: 780px ) {
        --heigth: 60px;
    }
}


.btn, .user, .notification{
    --radius: 8px;
}


.notification{
    --err-color: #C14343;
    --info-color: #2869C5;
    --success-color: #189925;
}



.checkbox-wrapper{
    --bg-color: #fff;
    --radius: 4px;
    --svg-color: #000;
}

app-router-loader .loading{
    --bg-color: #559cff;
}

#referral-gifts{
    --radius: 12px;
}



// custom styles
body{
    background-image: url('/assets/bg.svg');
    background-size: cover;
}
