$phone-size: 780px;

:root{
    --primary-color: #55F7FF; 
    --primary-color--hover: #00F3FF;
    
    --text-color--label: #fff;

    --input-color: #FFFFFF;
    
    
    --err-color: #BD3939;
    --err-color--hover: #CC2C2C;


    --success-color: #28AD2D;
    --success-color--hover: #1FBC25;


    --color--secondary: #AAAAAA;
    --color--secondary-hover: #FFFFFF;

    
    --color--loading-data: #17191F;
}


body, span.hr, referral-gifts li{
    --bg-color: #010302;
}

.window{
    --radius: 18px;
    --bg-color: #0A0C10;
}


.btn, .score__number{
    --color: #050F0F;
    &--success, &--err{
        --color: #0A0C10;
    }

    &--outline-err:hover, &--outline-primary:hover, &--outline-success:hover{
        --color: #0A0C10;
    }
}

.form-control, .btn-icon, .drop-down{
    --bg-color: #010302;
    --placeholder: #8A8A8A;
    --radius: 8px;
    --border: transparent;
}

.btn-icon{
    --bg-color: #010302;
}


nav img{
    --heigth: 24px;
    @media screen and ( max-width: 780px ) {
        --heigth: 21px;
    }
}


.btn, .user, .notification{
    --radius: 8px;
}


.notification{
    --err-color: #C82727;
    --info-color: #55F7FF;
    --success-color: #28AD2D;
}



.checkbox-wrapper{
    --bg-color: #FFFFFF;
    --radius: 4px;
    --svg-color: #0A0C10;
}

app-router-loader .loading{
    --bg-color: #55F7FF;
}

#referral-gifts{
    --radius: 12px;
}

// custom styles
body{
    background-image: url('/assets/bg.png');
    background-size: cover;
}