$phone-size: 780px;

:root{
    --primary-color: #C912B0; 
    --primary-color--hover: #E516C9;
    
    --text-color--label: #DDDAE5;

    --input-color: #0D0038;
    
    
    --err-color: #C85454;
    --err-color--hover: #D33B3B;


    --success-color: #58994D;
    --success-color--hover: #4CAD3B;


    --color--secondary: #9690A8;
    --color--secondary-hover: #DDDAE5;

    
    --color--loading-data: #2F3A77;
}


body, span.hr, referral-gifts li{
    --bg-color: #263173;
}

.window{
    --radius: 18px;
    --bg-color: #212B66;
}


.btn, .score__number{
    --color: #DDDAE5;
    &--success, &--err{
        --color: #DDDAE5;
    }

    &--outline-err:hover, &--outline-primary:hover, &--outline-success:hover{
        --color: #DDDAE5;
    }
}

.form-control, .btn-icon{
    --bg-color: #DDDAE5;
    --placeholder: #9C94B2;
    --radius: 40px;
    --border: #DDDAE5;
}

.btn-icon{
    --bg-color: #DDDAE5;
}


nav img{
    --heigth: 80px;
    @media screen and ( max-width: 780px ) {
        --heigth: 65px;
    }
}


.btn, .user{
    --radius: 40px;
}


.notification{
    --err-color: #A33D3D;
    --info-color: #9F228E;
    --success-color: #409232;
    --text-color: #DDDAE5;
}



.checkbox-wrapper{
    --bg-color: #DDDAE5;
    --radius: 4px;
    --svg-color: #0D0038;
}

app-router-loader .loading{
    --bg-color: #C912B0;
}

#referral-gifts{
    --radius: 12px;
}


// custom styles
body{
    background-size: cover;
    background-image: url('/assets/fp.png');
    @media screen and ( max-width: 780px ) {
        background-image: url('/assets/phone.png');
    }
}