:host{
    display: grid;
    position: relative;
}

.nav{
    justify-content: space-between;
    // padding: 0px 0px;
    box-sizing: border-box;
    justify-self: center;

    max-width: 1400px;
    width: 100%;
}

img{
    height: var(--heigth);
}

*{
    color: var(--color--secondary);
}

#logout{
    width: 163px;

    @media screen and ( max-width: 780px ) {
        width: 130px;
        height: 44px;
    }
}