<ryodan-back-link></ryodan-back-link>
<div class="window ryodan">
  <div class="ryodan__header">
    <div class="ryodan__links form-control">
      <a routerLink="../reports" routerLinkActive="btn_active" class="btn">
        Reports
      </a>
      <a routerLink="../applications" routerLinkActive="btn_active" class="btn">
        Applications
      </a>
      <a routerLink="../metamasks" routerLinkActive="btn_active" class="btn">
        Metamasks
      </a>
    </div>
    <ng-content select="[header-btn]"></ng-content>
  </div>
  <span class="ryodan__divider hr"></span>

  <div class="ryodan__content">
    <ng-content select="[list]" *ngIf="showList; else noData"></ng-content>

    <ng-template #noData>
      <div class="no-data" *ngIf="!pending; else spinner">
        <p class="no-data__title">Nothing here yet</p>
        <button
          class="no-data__btn btn btn--outline-primary"
          (click)="update.emit()"
        >
          Update
        </button>
      </div>

      <ng-template #spinner>
        <div class="ryodan-spinner" *ngIf="pending">
          <ngx-spinner
            type="ball-clip-rotate"
            [fullScreen]="false"
            bdColor="rgba(51,51,51,0)"
            size="medium"
          ></ngx-spinner>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
