<div class="window ryodan">
  <div class="ryodan__header">
    <div class="ryodan__links form-control">
      <a routerLink="../reports" routerLinkActive="btn_active" class="btn">
        Reports
      </a>
      <a routerLink="../applications" routerLinkActive="btn_active" class="btn">
        Applications
      </a>
    </div>
    <ng-content select="[header-btn]"></ng-content>
  </div>
  <span class="ryodan__divider hr"></span>

  <div class="ryodan__content">
    <div class="ryodan__list list" *ngIf="items; else noData">
      <div class="list__header">
        <span>No.</span>
        <span>Status</span>
      </div>
      <ul class="list__content">
        <li
          class="list__row item"
          *ngFor="let item of items"
          (click)="viewItem.emit(item)"
        >
          <div class="item__general">
            <span class="item__number">№{{ item.number }}</span>
            <button
              class="item__edit-btn btn btn--warn-outline"
              *ngIf="item.state === ItemStates.REVISION"
              (click)="$event.stopPropagation(); editItem.emit(item)"
            >
              Edit
            </button>
          </div>
          <div class="item__sub-info">
            <span
              class="item__state"
              [ngClass]="{
                item__state_yellow:
                  item.state === ItemStates.REVISION ||
                  item.state === ItemStates.CHECK,
                item__state_red: item.state === ItemStates.REJECTED,
                item__state_green: item.state === ItemStates.CONFIRMED
              }"
            >
              {{ item.state.toLowerCase() }}
            </span>
            <svg
              class="item__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="15"
              viewBox="0 0 8 15"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0.50442 13.8396C0.348186 13.6834 0.260419 13.4714 0.260419 13.2505C0.260419 13.0295 0.348186 12.8176 0.50442 12.6613L5.74885 7.41713L0.504419 2.17297C0.424823 2.09609 0.361334 2.00414 0.317658 1.90247C0.273982 1.8008 0.250992 1.69145 0.250031 1.5808C0.249069 1.47015 0.270155 1.36042 0.312058 1.258C0.353961 1.15559 0.415842 1.06255 0.494089 0.984302C0.572337 0.906058 0.665385 0.844179 0.767804 0.802278C0.870222 0.760378 0.97996 0.739293 1.09062 0.740255C1.20127 0.741217 1.31063 0.764206 1.4123 0.80788C1.51398 0.851554 1.60593 0.915038 1.68281 0.99463L7.51643 6.82796C7.67267 6.98424 7.76043 7.19616 7.76043 7.41713C7.76043 7.6381 7.67267 7.85002 7.51643 8.0063L1.68281 13.8396C1.52653 13.9959 1.3146 14.0836 1.09362 14.0836C0.872634 14.0836 0.6607 13.9959 0.50442 13.8396Z"
                fill="white"
              />
            </svg>
          </div>
        </li>
      </ul>
    </div>

    <ng-template #noData>
      <div class="no-data" *ngIf="!pending">
        <p class="no-data__title">Nothing here yet</p>
        <button
          class="no-data__btn btn btn--outline-primary"
          (click)="update.emit()"
        >
          Update
        </button>
      </div>
    </ng-template>

    <div class="ryodan-spinner" *ngIf="pending">
      <ngx-spinner
        type="ball-clip-rotate"
        [fullScreen]="false"
        bdColor="rgba(51,51,51,0)"
        size="medium"
      ></ngx-spinner>
    </div>
  </div>

  <!-- <div class="ryodan-spinner">
      <ngx-spinner
        type="ball-clip-rotate"
        [fullScreen]="false"
        bdColor="rgba(51,51,51,0)"
        size="medium"
      ></ngx-spinner> -->
  <!-- </div> -->
</div>
