.btn{
    color: var(--text-color--label);
    font-weight: 500;
    font-size: 14px;
    height: 17px;
    padding: 0px;

    &:hover{
        color: var(--primary-color)
    }
}

svg{
    margin-right: 4px;
    path{
        fill: var(--primary-color)
    }
}