<div class="control-wrapper" [class.control-wrapper--disabled]="disabled">
  <span class="control-wrapper__label">Payment info</span>
  <button class="btn btn--outline-primary" (click)="getOrder()">
    Pay renewal with crypto
  </button>
</div>

<div class="overlay overlay--full-screen" *ngIf="showPaymentDuration$ | async">
  <div class="artboard" (click)="showPaymentDuration$.next(false)"></div>
  <csd-dashboard-renew-duration
    class="popup"
    (orderGenerated)="order = $event; showPayment = true"
  ></csd-dashboard-renew-duration>
</div>

<div class="overlay overlay--full-screen" *ngIf="showPayment && order">
  <div class="artboard" (click)="showPayment = false"></div>
  <payment-window
    class="popup"
    [order]="order"
    (onClose)="showPayment = false"
    (onSuccess)="onSuccessRenew()"
  ></payment-window>
</div>

<renew-success
  *ngIf="showSuccessWindow"
  (onClose)="showSuccessWindow = false"
></renew-success>
