<div class="control-wrapper">
    <span class="control-wrapper__label">Payment info</span>
    <button class="btn btn--outline-primary"
            [class.btn--loading]="loading"
            [disabled]="disabled || loading" 
            (click)="getOrder()" 
    >
        <btn-loader text="Pay renewal with crypto" [isSpinner]="loading"></btn-loader>
    </button>
</div>

<div class="overlay overlay--full-screen" *ngIf="showPayment && order">
    <div class="artboard" (click)="showPayment = false"></div>
    <payment-window class="popup"
        [order]="order" (onClose)="showPayment = false"
        (onSuccess)="onSuccessRenew()"
    ></payment-window>
</div>

<renew-success *ngIf="showSuccessWindow" (onClose)="showSuccessWindow = false"></renew-success>