:host{
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 24px;
    box-sizing: border-box;
    padding: 40px 80px;

    @media screen and ( max-width: 780px ) {
        padding: 30px 20px 24px;
    }
}

main{
    display: grid;
    position: relative;
}
