.overlay{
    padding: 30px 24px;
}

.window{
    max-width: 600px;
    width: 100%;
    row-gap: 24px;
    padding-top: 40px;
    padding-bottom: 24px;
}

fieldset{
    display: grid;
    row-gap: 12px;
}

info-link{
    margin-top: 8px;
}