<form class="window" [formGroup]="form" (ngSubmit)="onSubmit()">

    <purchase-form-title></purchase-form-title>

    <fieldset class="window__body">
        <div class="control-wrapper">
            <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email">
            <checkbox-agreement formControlName="agreement"></checkbox-agreement>
        </div>

        <div class="btn-wrapper" *ngVar="(payment|async) as payment">
            <button class="btn btn--primary" [disabled]="loading || !form.controls['agreement'].value" [class.btn--loading]="loading">
                <btn-loader [isSpinner]="loading" 
                    [text]="
                        'Purchase' + getDropPrice(payment)
                    "
                ></btn-loader>
            </button>
            <currency-converter *ngIf="payment && payment.way == 'Tinkoff' && payment.currency != 'RUB'"
                [class.disabled]="!form.controls['agreement'].value"
            ></currency-converter>
        </div>
    </fieldset>

</form>

<app-stripe-disclaimer
  *ngIf="showDisclaimer"
  (approve)="disclaimerApproved = true; onSubmit()"
></app-stripe-disclaimer>