<div class="wrapper">
  <div class="control-wrapper" *ngIf="application.adminComment">
    <p class="control-wrapper__label">Admin’s comment</p>
    <div class="form-control form-control_yellow">
      {{ application.adminComment }}
    </div>
  </div>

  <div class="control-wrapper">
    <p class="control-wrapper__label">Target</p>
    <div class="form-control">{{ application.target }}</div>
  </div>

  <div class="control-wrapper" *ngIf="application.wallet">
    <p class="control-wrapper__label">Wallet</p>
    <div class="form-control">{{ application.wallet }}</div>
  </div>

  <div class="control-wrapper">
    <p class="control-wrapper__label">Description</p>
    <div class="description-container">
      <div
        class="form-control description-point"
        *ngFor="
          let descriptionPoint of getDescriptionAsArr();
          let i = index;
          trackBy: trackByIndex
        "
      >
        {{ i + 1 }}. {{ descriptionPoint }}
      </div>
    </div>
  </div>
</div>
