$tab-size: 1200px;
$phone-size: 780px;

.list {
  display: grid;
  row-gap: 16px;

  * {
    font-size: 16px;
    line-height: 20px;
    @media screen and (max-width: $phone-size) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__header,
  &__row {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 120px;
    gap: 16px;
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (max-width: $phone-size) {
      grid-template-columns: 1fr 100px;
    }
  }

  &__content {
    display: grid;
    gap: 8px;
  }

  &__row {
    height: 48px;
    border-radius: 8px;
    background-color: var(--grey-color);
    cursor: pointer;
    &:hover {
      background-color: #3f3f3f;
    }
  }
}

.item {
  &__general {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    align-items: center;
    justify-content: start;
  }

  &__edit-btn {
    width: 40px;
    height: 40px;
  }

  &__sub-info {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  &__state {
    text-transform: capitalize;

    &_red {
      color: var(--red-color);
    }
    &_green {
      color: var(--green-color);
    }
    &_yellow {
      color: var(--yellow-color);
    }
  }
}
.list .item__date {
  color: var(--color--secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;

  @media screen and (max-width: 780px) {
    font-size: 12px;
    line-height: normal;
  }
}

.col {
  display: grid;
  align-content: center;
}
