<div class="overlay">
    <div class="artboard" (click)="onClose.emit()"></div>

    <form class="window popup" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="window__title">Auto-renewal activation</h1>
        
        <fieldset class="window__body">
            <div class="control-wrapper">
                <input type="text" class="form-control" placeholder="Email" formControlName="email" autocomplete="email">
                <checkbox-agreement formControlName="agreement"></checkbox-agreement>
            </div>

            <button class="btn btn--primary">
                <btn-loader text="Start" [isSpinner]="loading"></btn-loader>
            </button>
        </fieldset>
    </form>

</div>