<div class="form-control" (click)="changeState($event)"
    [ngClass]="{
        'ng-touched': touched,
        'ng-invalid': value === '',
        'ng-valid': value !== ''
    }"
>
    <span class="form-control__placeholder" *ngIf="value === ''">{{placeholder}}</span>
    <span *ngIf="value !== ''"> {{ getDisplayValue() }} </span>
    
    
    
    <button class="btn form-control__icon" [class.form-control__icon--rotate]="showDropDown">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M2.92969 7.05417L10.0005 14.125L17.0714 7.05417L15.893 5.875L10.0005 11.7683L4.10802 5.875L2.92969 7.05417Z" fill="#303030"/>
        </svg>
    </button>
    

    <div class="dropdown" [class.dropdown--active]="showDropDown">
        <ul class="dropdown__menu">
            <li class="dropdown__menu-option" *ngFor="let opt of options" (click)="setValue(opt.value)">
                {{ opt.display }}
            </li>
        </ul>
    </div>
</div>